@media screen and (max-width: 600px) {
  .hero {
    min-height: 100vh;
  }
  .hero-content {
    padding-top: 40px;
  }
  #searchForm {
    flex-direction: column;
    align-items: center;
  }
  #cityInput {
    margin-bottom: 10px;
  }
}
.weather-color {
  color: white;
}
.search-input {
  color: black;
}
#loaderContainer {
  display: none;
}

#loaderImage {
  display: block;
  margin: 0 auto;
}
